# Frequency Encoding

In [229]:
import pandas as pd

In [230]:
#Cargamos el DataFrame
df = pd.read_csv('ganaderia2.csv')
df.head(30)

,Código Ámbito,Ámbito,Código área,Área,Código Elemento,Elemento,Código Producto,Producto,Código año,Año,Unidad,Valor,Símbolo,Descripción del Símbolo
0,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1171,Animales vivos nep,2017,2017,1000 US$,0,NaN,Datos oficiales
1,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1169,Animales vivos no destinados al consumo humano...,2017,2017,1000 US$,48326,NaN,Datos oficiales
2,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,1107,Asnos,2017,2017,Cabeza,5,NaN,Datos oficiales
3,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1107,Asnos,2017,2017,1000 US$,3,NaN,Datos oficiales
4,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,1096,Caballos,2017,2017,Cabeza,1837,NaN,Datos oficiales
5,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1096,Caballos,2017,2017,1000 US$,30522,NaN,Datos oficiales
6,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,1126,Camellos,2017,2017,Cabeza,45,NaN,Datos oficiales
7,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1126,Camellos,2017,2017,1000 US$,335,NaN,Datos oficiales
8,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,1016,Caprinos,2017,2017,Cabeza,866,NaN,Datos oficiales
9,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1016,Caprinos,2017,2017,1000 US$,57,NaN,Datos oficiales
10,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,1034,Cerdos,2017,2017,Cabeza,15191521,NaN,Datos oficiales
11,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1034,Cerdos,2017,2017,1000 US$,1495602,NaN,Datos oficiales
12,TA,Animales vivos,79,Alemania,5609,Importaciones - Cantidad,1140,Conejos y liebres,2017,2017,1000 cabezas,3,Im,Datos de FAO basados en una metodología de imp...
13,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1140,Conejos y liebres,2017,2017,1000 US$,84,NaN,Datos oficiales
14,TA,Animales vivos,79,Alemania,5609,Importaciones - Cantidad,1057,Gallinas,2017,2017,1000 cabezas,185661,NaN,Datos oficiales
15,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1057,Gallinas,2017,2017,1000 US$,193759,NaN,Datos oficiales
16,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,866,Ganado vacuno,2017,2017,Cabeza,76414,NaN,Datos oficiales
17,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,866,Ganado vacuno,2017,2017,1000 US$,69191,NaN,Datos oficiales
18,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,1110,Mulas,2017,2017,Cabeza,3,NaN,Datos oficiales
19,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1110,Mulas,2017,2017,1000 US$,3,NaN,Datos oficiales
20,TA,Animales vivos,79,Alemania,5608,Importaciones - Cantidad,976,Ovinos,2017,2017,Cabeza,125907,NaN,Datos oficiales
21,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,976,Ovinos,2017,2017,1000 US$,15147,NaN,Datos oficiales
22,TA,Animales vivos,79,Alemania,5609,Importaciones - Cantidad,1068,Patos,2017,2017,1000 cabezas,3275,NaN,Datos oficiales
23,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1068,Patos,2017,2017,1000 US$,4059,NaN,Datos oficiales
24,TA,Animales vivos,79,Alemania,5609,Importaciones - Cantidad,1079,Pavos,2017,2017,1000 cabezas,8793,NaN,Datos oficiales
25,TA,Animales vivos,79,Alemania,5622,Importaciones Valor,1079,Pavos,2017,2017,1000 US$,149272,NaN,Datos oficiales
26,TA,Animales vivos,7,Angola,5622,Importaciones Valor,1171,Animales vivos nep,2017,2017,1000 US$,187,R,Datos estimados utilizando la base de datos de...
27,TA,Animales vivos,7,Angola,5622,Importaciones Valor,1169,Animales vivos no destinados al consumo humano...,2017,2017,1000 US$,472,R,Datos estimados utilizando la base de datos de...
28,TA,Animales vivos,7,Angola,5608,Importaciones - Cantidad,1096,Caballos,2017,2017,Cabeza,2,R,Datos estimados utilizando la base de datos de...
29,TA,Animales vivos,7,Angola,5622,Importaciones Valor,1096,Caballos,2017,2017,1000 US$,23,R,Datos estimados utilizando la base de datos de...

In [231]:
# Extaemos la columna del Data Frame
column = df.loc[:,'Área']
column.head()
column.value_counts()

Alemania                       26
Suiza                          25
China                          22
Angola                         18
Turquía                        18
Serbia                         18
Croacia                        17
Nepal                          17
Colombia                       17
Guyana                         17
Belarús                        16
Bulgaria                       16
Letonia                        16
Nicaragua                      15
República Unida de Tanzanía    15
Kazajstán                      15
Gabón                          14
Yemen                          14
Egipto                         13
Suecia                         13
Barbados                       12
Malí                           11
Islas Caimán                    5
Bhután                          4
Name: Área, dtype: int64

In [232]:
# Ponemos la columna en una lista
column = column.values
column = column.tolist()

In [233]:
# Creamos un arreglo aux igual a la columna del Data Frame
aux =[]
aux= column[:]

In [234]:
for i in range(len(aux)):
    aux[i] = column.count(aux[i])

In [235]:
# Convertimos la lista en DataFrame
aux = pd.DataFrame(aux)

In [236]:
#Añadimos aux al DataFrame original 
df.insert(5,'Área_Fe',aux)

### Eliminamos la columna original

In [237]:
df = df.drop('Área',axis=1)
df.head(27)

,Código Ámbito,Ámbito,Código área,Código Elemento,Área_Fe,Elemento,Código Producto,Producto,Código año,Año,Unidad,Valor,Símbolo,Descripción del Símbolo
0,TA,Animales vivos,79,5622,26,Importaciones Valor,1171,Animales vivos nep,2017,2017,1000 US$,0,NaN,Datos oficiales
1,TA,Animales vivos,79,5622,26,Importaciones Valor,1169,Animales vivos no destinados al consumo humano...,2017,2017,1000 US$,48326,NaN,Datos oficiales
2,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,1107,Asnos,2017,2017,Cabeza,5,NaN,Datos oficiales
3,TA,Animales vivos,79,5622,26,Importaciones Valor,1107,Asnos,2017,2017,1000 US$,3,NaN,Datos oficiales
4,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,1096,Caballos,2017,2017,Cabeza,1837,NaN,Datos oficiales
5,TA,Animales vivos,79,5622,26,Importaciones Valor,1096,Caballos,2017,2017,1000 US$,30522,NaN,Datos oficiales
6,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,1126,Camellos,2017,2017,Cabeza,45,NaN,Datos oficiales
7,TA,Animales vivos,79,5622,26,Importaciones Valor,1126,Camellos,2017,2017,1000 US$,335,NaN,Datos oficiales
8,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,1016,Caprinos,2017,2017,Cabeza,866,NaN,Datos oficiales
9,TA,Animales vivos,79,5622,26,Importaciones Valor,1016,Caprinos,2017,2017,1000 US$,57,NaN,Datos oficiales
10,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,1034,Cerdos,2017,2017,Cabeza,15191521,NaN,Datos oficiales
11,TA,Animales vivos,79,5622,26,Importaciones Valor,1034,Cerdos,2017,2017,1000 US$,1495602,NaN,Datos oficiales
12,TA,Animales vivos,79,5609,26,Importaciones - Cantidad,1140,Conejos y liebres,2017,2017,1000 cabezas,3,Im,Datos de FAO basados en una metodología de imp...
13,TA,Animales vivos,79,5622,26,Importaciones Valor,1140,Conejos y liebres,2017,2017,1000 US$,84,NaN,Datos oficiales
14,TA,Animales vivos,79,5609,26,Importaciones - Cantidad,1057,Gallinas,2017,2017,1000 cabezas,185661,NaN,Datos oficiales
15,TA,Animales vivos,79,5622,26,Importaciones Valor,1057,Gallinas,2017,2017,1000 US$,193759,NaN,Datos oficiales
16,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,866,Ganado vacuno,2017,2017,Cabeza,76414,NaN,Datos oficiales
17,TA,Animales vivos,79,5622,26,Importaciones Valor,866,Ganado vacuno,2017,2017,1000 US$,69191,NaN,Datos oficiales
18,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,1110,Mulas,2017,2017,Cabeza,3,NaN,Datos oficiales
19,TA,Animales vivos,79,5622,26,Importaciones Valor,1110,Mulas,2017,2017,1000 US$,3,NaN,Datos oficiales
20,TA,Animales vivos,79,5608,26,Importaciones - Cantidad,976,Ovinos,2017,2017,Cabeza,125907,NaN,Datos oficiales
21,TA,Animales vivos,79,5622,26,Importaciones Valor,976,Ovinos,2017,2017,1000 US$,15147,NaN,Datos oficiales
22,TA,Animales vivos,79,5609,26,Importaciones - Cantidad,1068,Patos,2017,2017,1000 cabezas,3275,NaN,Datos oficiales
23,TA,Animales vivos,79,5622,26,Importaciones Valor,1068,Patos,2017,2017,1000 US$,4059,NaN,Datos oficiales
24,TA,Animales vivos,79,5609,26,Importaciones - Cantidad,1079,Pavos,2017,2017,1000 cabezas,8793,NaN,Datos oficiales
25,TA,Animales vivos,79,5622,26,Importaciones Valor,1079,Pavos,2017,2017,1000 US$,149272,NaN,Datos oficiales
26,TA,Animales vivos,7,5622,18,Importaciones Valor,1171,Animales vivos nep,2017,2017,1000 US$,187,R,Datos estimados utilizando la base de datos de...

## verificamos la exactitud del modelo con el df original y el transformado

In [238]:
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [239]:
#Cargamos el dataset
def load_dataset(df):
    #Creamos una matriz con los datos
    dataset = df.values
    #Dividimos en X y y
    X = dataset[:, :3]
    y = dataset[:,3]
    #Forzamos el tipo string
    X = X.astype(str)
    return X, y

#Preparamos los datos de entrada, X
def prepare_inputs(X_train, X_test):
    oe = OrdinalEncoder()
    oe.fit(X_train)
    X_train_enc = oe.transform(X_train)
    X_test_enc = oe.transform(X_test)
    return X_train_enc, X_test_enc
 
#Preparamos los datos de salida, y
def prepare_targets(y_train, y_test):
    le = LabelEncoder()
    le.fit(y_train)
    y_train_enc = le.transform(y_train)
    y_test_enc = le.transform(y_test)
    return y_train_enc, y_test_enc

In [240]:
#Cargamos el Dataframe original
df_origin = pd.read_csv('ganaderia2.csv')

In [241]:
def model_accuracy(df):  
    #Cargamos el dataset
    X, y = load_dataset(df)

    #Dividimos los datos de entrada, X, y salida, y
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)
    #Preparamos a X
    X_train_enc, X_test_enc = prepare_inputs(X_train, X_test)
    #Preparamos ay
    y_train_enc, y_test_enc = prepare_targets(y_train, y_test)

    #Buscamos el modelo
    model = LogisticRegression(solver='lbfgs')
    model.fit(X_train_enc, y_train_enc)

    #Encontramos el modelo
    yhat = model.predict(X_test_enc)

    #Evaluamos el desempeño del modelo encontrado
    accuracy = accuracy_score(y_test_enc, yhat)
    return accuracy*100

In [242]:
print(model_accuracy(df_origin))
print(model_accuracy(df))

48.0
56.00000000000001

C:\Users\mrchu\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\mrchu\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)